!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env
/.foreman
/.idea
/coverage/*
/db/*.sqlite3
/log/*
/public/system
/tags
/tmp/*
spec/support/vcr_files/*
.sass-cache/
certs/
.env.test
public/capybara.html
public/assets/
/vendor/*

